<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-aatsr-synergy-core</symbolicName>
    <version>1.1.2</version>
    <name>MERIS/AATSR Synergy Core</name>
    <description>
        This module provides core functionalities for the MERIS/AATSR Synergy Toolbox.
    </description>
    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>
    
    
    <categories>Application,Processor,Synergy,MERIS,AATSR</categories>

     <dependency>
        <module>beam-core</module>
    </dependency>
	<dependency>
        <module>beam-gpf</module>
    </dependency>
	 <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
	<dependency>
        <module>beam-envisat-reader</module>
    </dependency>
	<dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-collocation</module>
    </dependency>
    <dependency>
        <module>lib-netcdf</module>
    </dependency>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/synergyhelp.hs</path>
        </helpSet>
    </extension>
</module>
