<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>synergy-cloud-screening</symbolicName>
    <version>1.0-SNAPSHOT</version>
    <name>Synergy Cloud Screening</name>
    <description>Synergy Cloud Screening</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>
    
    <dependency>
        <module>beam-core</module>
    </dependency>
	<dependency>
        <module>beam-gpf</module>
    </dependency>
	 <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
	<dependency>
        <module>beam-envisat-reader</module>
    </dependency>	
	<dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-collocation</module>
    </dependency>

    <categories>Application,Processor,Synergy,MERIS,AATSR</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>synergy</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Cloud Screening (MERIS/(A)ATSR Synergy)</text>
            <mnemonic/>
        </action>
        <!--
        <action>
            <id>synergyRecalibrateAATSRReflectances</id>
            <helpID>synergyAATSRReflectanceRecalibration</helpID>
            <class>org.esa.beam.synergy.ui.RecalibrateAATSRReflectancesAction</class>
            <text>Recalibrate AATSR Reflectances ...</text>
            <shortDescr>
                Recalibrate AATSR Reflectances
            </shortDescr>
            <mnemonic/>
            <parent>synergy</parent>
            <placeAfter/>
        </action>
        <action>
            <id>synergyLandWaterReclassification</id>
            <class>org.esa.beam.synergy.ui.LandWaterReclassificationAction</class>
            <text>Land/Water Reclassification ...</text>
            <shortDescr>
                Land/Water Reclassification
            </shortDescr>
            <mnemonic/>
            <parent>synergy</parent>
            <helpID/>
            <placeAfter>synergyRecalibrateAATSRReflectances</placeAfter>
        </action>
        -->
        <action>
            <id>synergyCreateSynergy</id>
            <class>org.esa.beam.synergy.ui.CreateSynergyAction</class>
            <text>Create Synergy Product ...</text>
            <shortDescr>
                Create Synergy Product
            </shortDescr>
            <mnemonic/>
            <parent>synergy</parent>
            <placeAfter/>
            <helpID>synergyCreateSynergy</helpID>
            <!--
            <placeAfter>synergyLandWaterReclassification</placeAfter>
            <separatorBefore>true</separatorBefore>
            -->
        </action>
        <action>
            <id>synergyExtractFeatures</id>
            <class>org.esa.beam.synergy.ui.ExtractFeaturesAction</class>
            <text>Extract Features ...</text>
            <shortDescr>
                Extract Features
            </shortDescr>
            <mnemonic/>
            <parent>synergy</parent>
            <helpID>synergyFeatureExtraction</helpID>
            <placeAfter>synergyCreateSynergy</placeAfter>
        </action>
        <action>
            <id>synergyClassifyFeatures</id>
            <class>org.esa.beam.synergy.ui.ClassifyFeaturesAction</class>
            <text>Classify Synergy Product ...</text>
            <shortDescr>
                Detect cloud and snow areas in a synergy product
            </shortDescr>
            <mnemonic/>
            <parent>synergy</parent>
            <helpID>synergyFeatureClassification</helpID>
            <placeAfter>synergyExtractFeatures</placeAfter>
        </action>
        <action>
            <id>synergyCloudScreening</id>
            <class>org.esa.beam.synergy.ui.SynergyCloudScreeningAction</class>
            <text>Synergy Product with Cloud Flags and Index ...</text>
            <shortDescr>
                Generates a final synergy product include cloud flags and index
            </shortDescr>
            <mnemonic/>
            <parent>synergy</parent>
            <helpID>synergyCloudScreening</helpID>
            <placeAfter>synergyClassifyFeatures</placeAfter>
        </action>

    </extension>
                
    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/cloudscreening.hs</path>
        </helpSet>
    </extension>

</module>
