<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-aatsr-synergy-aerosol-retrieval</symbolicName>
    <version>1.2.5</version>
    <name>MERIS/AATSR Synergy Aerosol Retrieval</name>
    <description>
        <![CDATA[
        <p>This module provides the aerosol retrieval and atmospheric correction
        within the MERIS/AATSR Synergy Toolbox.</p>

        <p>The MERIS/AATSR Synergy Toolbox provides processing schemes for improved cloud screening, global aerosol
            retrieval and land atmospheric correction using the combined multi-spectral and multi-angle information from
            geo-located and geo-registered MERIS and AATSR measurements.</p>

        <p>Algorithms: P. North et al. from Swansea University, J. Fischer et al. from Free University of Berlin, L. Gomez-Chova et al. from University of Valencia</p>
        <p>Software: O.Danne/R.Quast of Brockmann Consult, L.Gomez-Chova of University of Valencia, A.Heckel of Swansea University</p>

        <p>Documentation:</p>

    <ul>
        <li><a href="http://github.com/downloads/bcdev/beam-meris-aatsr-synergy/synergy-cloud-atbd.pdf">Cloud screening ATBD</a></li>
        <li><a href="http://github.com/downloads/bcdev/beam-meris-aatsr-synergy/synergy-land_aerosol-atbd.pdf">Land aerosol and surface reflectance ATBD</a></li>
        <li><a href="http://github.com/downloads/bcdev/beam-meris-aatsr-synergy/synergy-ocean_aerosol-atbd.pdf">Ocean aerosol ATBD</a></li>
        <li><a href="http://github.com/downloads/bcdev/beam-meris-aatsr-synergy/synergy-dpm.pdf">Detailed Processing Model (DPM)</a></li>
        <li><a href="http://github.com/downloads/bcdev/beam-meris-aatsr-synergy/synergy-iodd.pdf">Input/Output Data Description (IODD)</a></li>
        <li><a href="http://github.com/downloads/bcdev/beam-meris-aatsr-synergy/synergy-sum.pdf">Software User Manual (SUM)</a></li>
    </ul>
    ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
             <p>From 1.2.2 to 1.2.3:<br/>
             - adjusted to BEAM 4.10<br/>
              <p>From 1.2.1 to 1.2.2:<br/>
             - computation of aerosol and atmo. correction fails with initialisation error<br/>
             <p>From 1.1.2 to 1.2.1:<br/>
             - adapted according to BEAM 4.9 API changes<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-collocation</module>
    </dependency>
    <dependency>
        <module>beam-meris-aatsr-synergy-core</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>

    <categories>Application,Processor,Synergy,MERIS,AATSR</categories>

    <!--<extension point="beam-ui:actions">-->
    <!--<action>-->
    <!--<id>synergyToolbox</id>-->
    <!--<class>org.esa.beam.visat.actions.ActionGroup</class>-->
    <!--<text>MERIS/(A)ATSR Synergy Toolbox </text>-->
    <!--<mnemonic/>-->
    <!--<placeAfter/>-->
    <!--</action>-->

    <!--<action>-->
    <!--<id>aerosolOverall</id>-->
    <!--<class>org.esa.beam.synergy.ui.RetrieveAerosolAction</class>-->
    <!--<text>Aerosol Retrieval and Atmospheric Correction...</text>-->
    <!--<shortDescr>-->
    <!--Retrieve aerosols (land/ocean) and SDR (land)-->
    <!--</shortDescr>-->
    <!--<mnemonic/>-->
    <!--<parent>synergyToolbox</parent>-->
    <!--<helpID>synergyhelp</helpID>-->
    <!--<placeAfter>synergyCloudScreening</placeAfter>-->
    <!--</action>-->

    <!--</extension>-->

    <!--<extension point="beam-ui:helpSets">-->
    <!--<helpSet>-->
    <!--<parent>beam-help</parent>-->
    <!--<path>doc/help/aerosol.hs</path>-->
    <!--</helpSet>-->
    <!--</extension>-->
</module>
