<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-aatsr-synergy-cloud-screening</symbolicName>
    <version>1.1</version>
    <name>Synergy Cloud Screening</name>
    <description>Synergy Cloud Screening</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>
    
    <dependency>
        <module>beam-core</module>
    </dependency>
	<dependency>
        <module>beam-gpf</module>
    </dependency>
	 <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
	<dependency>
        <module>beam-envisat-reader</module>
    </dependency>	
	<dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-collocation</module>
    </dependency>
    <dependency>
        <module>beam-meris-aatsr-synergy-core</module>
    </dependency>

    <categories>Application,Processor,Synergy,MERIS,AATSR</categories>

    <extension point="beam-ui:actions">

        <!--<action>-->
            <!--<id>synergyCreateSynergy</id>-->
            <!--<class>org.esa.beam.synergy.ui.CreateSynergyAction</class>-->
            <!--<text>Synergy Preprocessor ...</text>-->
            <!--<shortDescr>-->
                <!--Synergy Preprocessor-->
            <!--</shortDescr>-->
            <!--<mnemonic/>-->
            <!--<parent>synergyToolbox</parent>-->
            <!--<placeAfter/>-->
            <!--<helpID>synergyhelp</helpID>-->
            <!--<separatorBefore>true</separatorBefore>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>synergyCloudScreening</id>-->
            <!--<class>org.esa.beam.synergy.ui.SynergyCloudScreeningAction</class>-->
            <!--<text>Cloud  Screening ...</text>-->
            <!--<shortDescr>-->
                <!--Generates a final synergy product including cloud flags and index-->
            <!--</shortDescr>-->
            <!--<mnemonic/>-->
            <!--<parent>synergyToolbox</parent>-->
            <!--<helpID>synergyhelp</helpID>-->
            <!--<placeAfter>synergyCreateSynergy</placeAfter>-->
        <!--</action>-->

    </extension>
                
    <!--<extension point="beam-ui:helpSets">-->
        <!--<helpSet>-->
            <!--<parent>beam-help</parent>-->
            <!--<path>doc/help/cloudscreening.hs</path>-->
        <!--</helpSet>-->
    <!--</extension>-->

</module>
